---
import BaseLayout from '@/layouts/BaseLayout.astro';
import PostPreview from '@/features/posts/components/PostPreview.astro';
import { getTranslator } from '@/i18n/translator';
import { findAllPosts } from '@/features/posts/post-repository';

const locale = 'en';
const translate = getTranslator(locale);
const posts = await findAllPosts(locale);
---

<BaseLayout locale={locale}>
  <section>
    <h1>{translate('blog.introTitle')}</h1>
    <p>{translate('blog.introText')}</p>
  </section>
  <section>
    {
      posts.length > 0 ? (
        <ul>
          {posts.map((post) => (
            <li>
              <PostPreview post={post} />
            </li>
          ))}
        </ul>
      ) : (
        <p>{translate('blog.empty')}</p>
      )
    }
  </section>
</BaseLayout>
