---
import type { Locale } from '@/i18n/locale';
import { getTranslator } from '@/i18n/translator';

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
const translate = getTranslator(locale);
const currentYear = new Date().getFullYear();
---

<footer>
  <p>© {currentYear} Nicolás Vegas — {translate('footer.rights')}</p>
</footer>
